@import "https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,400;1,600&display=swap";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
header {
	background-color: rgb(0, 0, 0);
	padding: 20px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	img {
		width: 100px;
		height: 100px;
	}
	nav {
		ul {
			li {
				a {
					text-decoration: none;
					color: white;
					font-size: 20px;
					font-weight: 900;
				}
				display: inline-block;
				margin: 20px 20px 0 20px;
			}
			list-style: none;
			display: flex;
		}
	}
}
main {
	section {
		img {
			width: 100px;
			height: 100px;
		}
	}
}
.servicios_titulo {
	margin: 20px;
}
.nosotros {
	img {
		width: 600px;
		height: 300px;
	}
	h2 {
		font-family: 'Source Sans Pro', sans-serif;
		text-align: center;
		margin: 20px;
	}
	p {
		text-decoration: none;
		color: black;
		font-size: 20px;
		position: sticky;
		top: 20px;
		margin: 20px;
		text-align: center;
	}
}
.card {
	width: 300px;
	height: 450px;
	border: 1px solid gainsboro;
	margin-bottom: 10px;
	text-align: center;
	border-radius: 15px;
	background-color: black;
	transition: 2s;
	&:hover {
		transform: scale(1.1);
	}
	img {
		width: 297px;
		height: 300px;
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
	}
	h3 {
		margin-bottom: 30px;
		font-size: 25px;
		color: aliceblue;
	}
	a {
		text-decoration: none;
		background-color: rgba(255, 166, 0, 0.507);
		padding: 5px;
		color: whitesmoke;
		border-radius: 5px;
	}
	p {
		margin-bottom: 10px;
		font-size: 15px;
		color: aliceblue;
	}
}
.card_container {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
body {
	font-family: 'Source Sans Pro', sans-serif;
}
.hero {
	width: 100%;
	height: 80vh;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/fondo-techno.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	div {
		a {
			text-decoration: none;
			background-color: rgba(255, 166, 0, 0.507);
			padding: 5px;
			color: whitesmoke;
			border-radius: 5px;
		}
		width: 80%;
		text-align: center;
	}
	a {
		&:hover {
			background-color: black;
			transition: 1s;
			margin-top: 20px;
		}
	}
	h1 {
		text-decoration: none;
		color: rgb(255, 187, 0);
		font-size: 20px;
		font-weight: 800;
		position: sticky;
		top: 20px;
		border: 2px rgb(255, 187, 0);
		padding: 20px;
	}
}
.boton-fixed {
	img {
		width: 80px;
		height: 80px;
		position: fixed;
		bottom: 40px;
		right: 40px;
	}
}
.img-container {
	display: flex;
	align-content: center;
	justify-content: center;
}
.galeria-grid {
	width: 100%;
	margin-top: 50px;
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-auto-rows: 250px;
	gap: 15px;
	div {
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
			-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
			-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
		}
	}
}
.img-5 {
	grid-row: span 3;
}
.contactos {
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
	margin: 10px;
	font-size: 20px;
}
footer {
	div {
		display: flex;
		justify-content: space-around;
	}
	img {
		width: 50px;
		height: 50px;
		width: 50px;
		height: 50px;
	}
	h3 {
		text-align: center;
		margin: 50px;
	}
}
.redes {
	display: flex;
	align-content: center;
	justify-content: space-around;
}
.mbc {
	width: 350px;
	height: 350px;
	margin: 20px;
}
@media screen and (max-width:662px) {
	header {
		flex-direction: column;
		padding: 0;
	}
}
@media screen and (max-width:701px) {
	header {
		nav {
			ul {
				flex-direction: column;
				text-align: center;
			}
		}
	}
}
@media screen and (max-width:656px) {
	header {
		h1 {
			flex-direction: column;
			text-align: center;
		}
	}
}
@media screen and (max-width:599px) {
	.nosotros {
		img {
			align-items: center;
		}
	}
}
@media screen and (max-width:1222px) {
	.mbc {
		display: flex;
		align-content: center;
		justify-content: center;
	}
}
